.card {
  max-width: 250px;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 10px;
  --mdc-elevated-card-container-color: none;

  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.8s;
    box-shadow: 2px 2px 2px 2px #201835a6;
    border-color: none;
  }
}

.cardList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  padding: 20px;
  padding-top: 0;
}

.back {
  height: 50px;
  position: fixed;
  left: 10%;
  top: 60%;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: #FFF765;
}

.foward {
  height: 50px;
  position: fixed;
  width: 35px;
  right: 10%;
  top: 60%;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: #FFF765;
}

.cardHeader {
  display: flex;
  justify-content: center;
}
.content, .content:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0%;
  background: #201835;
  color: #FFF765;
}

.filterForm {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.formFields {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  padding-top: 10px;
}

.field {
  width: 75%;
}

.searchImg {
  width: 75px;
}

button {
  width: 57px;
  height: 57px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: transparent;
}

.mat-icon .notranslate .icon .material-icons .mat-ligature-font .mat-icon-no-color {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  overflow: hidden;
  font-size: 70px;
  margin-bottom: 8px;
}

.images {
  display: flex;
  align-items: center;
}