<form class="filterForm">
  <div class="images">
    <img class="searchImg" src="../../../assets/search-Rick.png" alt="">
    <img class="searchImg" src="../../../assets/search-morty.png" alt="">
    <img class="searchImg" src="../../../assets/search-summer.png" alt="">
  </div>
  <div class="formFields">
    <mat-form-field class="field">
      <mat-label>Name search</mat-label>
      <input matInput #nameInput>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" name="location">
        <mat-option *ngFor="let status of status" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Species</mat-label>
      <mat-select [(ngModel)]="selectedSpecies" name="location">
        <mat-option *ngFor="let specie of species" [value]="specie">
          {{specie}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button><mat-icon class="icon" (click)="filterCharacters(nameInput.value)">search</mat-icon></button>
  </div>
  <div class="images">
    <img class="searchImg" src="../../../assets/search-Jerry.png" alt="">
    <img class="searchImg" src="../../../assets/search-Beth.png" alt="">
  </div>
</form>

<section class="cardList">
    <mat-icon class="back" (click)="previousPage()">arrow_back_ios</mat-icon>
  <mat-card class="card" *ngFor="let character of characters" (click)="getDetails(character.id)">
    <img mat-card-image src="{{character.image}}">
    <mat-card-content class="content">
      <div class="info">
        <h2>Name: {{character.name}}</h2>
        <p>Specie: {{character.species}}</p>
      </div>
    </mat-card-content>
  </mat-card>
    <mat-icon class="foward" (click)="nextPage()">arrow_forward_ios</mat-icon>
</section>